In [11]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
df = pd.read_csv("sensors_data.csv")
df.head()

    time  humidity  co2  moisture  temperature  pressure
0  23:00        23   45       655            4         5
1  23:00        23   45       655            4         5
2  23:00        23   45       655            4         5
3  23:00        23   45       655            4         5
4  23:00        23   45       655            4         5

In [13]:
df.time = pd.to_datetime(df.time)
print(pd.io.sql.get_schema(df, name="senors_data"))

CREATE TABLE "senors_data" (
"time" TIMESTAMP,
  "humidity" INTEGER,
  "co2" INTEGER,
  "moisture" INTEGER,
  "temperature" INTEGER,
  "pressure" INTEGER
)

/tmp/ipykernel_42385/257774395.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.time = pd.to_datetime(df.time)

In [14]:
engine = create_engine("postgresql://root:root@localhost:5432/sensors_data")
engine.connect()

In [15]:
print(pd.io.sql.get_schema(df, name="senors_data",con=engine))

CREATE TABLE senors_data (
	time TIMESTAMP WITHOUT TIME ZONE,
	humidity BIGINT,
	co2 BIGINT,
	moisture BIGINT,
	temperature BIGINT,
	pressure BIGINT
)

In [17]:
df.head(0).to_sql(con=engine, name="sensors_data", if_exists="replace")
df.to_sql(con=engine, name="sensors_data", if_exists="append")

7

In [18]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema';
"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,sensors_data,root,None,True,False,False,False